<!-- 参考资料 https://lbs.amap.com/demo/jsapi-v2/example/mass-markers/massmarks -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>订单分布复盘</title>
    <link rel="stylesheet" href="/static/css/demo-center.css"/>
    <link rel="stylesheet" href="/static/css/uikit.css"/>
    <link rel="stylesheet" href="/static/css/uikit-rtl.css"/>
    <link href="https://cdn.bootcss.com/jquery-datetimepicker/2.5.17/jquery.datetimepicker.min.css" rel="stylesheet">
    <script src="/static/js/uikit.js"></script>
    <script src="/static/js/uikit-icons.js"></script>
    <script src="/static/js/jquery-3.6.1.js"></script>
    <script src="https://cdn.bootcss.com/jquery-datetimepicker/2.5.17/jquery.datetimepicker.full.min.js"></script>

    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn {
            margin-right: 1rem;
            width: 3rem;
        }

        .input-card .btn:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
<div>
    <form action="/order_situation_review" method="post">
        <label for="start_time">开始时间：</label><input id="start_time" name="start_time" type="datetime"
                                                    value="{{start_time }}"/>
        <label for="end_time">结束时间：</label><input id="end_time" name="end_time" type="datetime" value="{{end_time}}"/>

        <span>主渠道</span>
        <input type="checkbox" value="主渠道" name="channel_name_1" checked="checked">
        <span>微信小程序</span>
        <input type="checkbox" value="微信小程序" name="channel_name_2" checked="checked">
        <span>司机端</span>
        <input type="checkbox" value="司机端" name="channel_name_3" checked="checked">
        <span>线上叫单</span>
        <input type="checkbox" value="线上叫单" name="order_way_1" checked="checked">
        <span>报单</span>
        <input type="checkbox" value="报单" name="order_way_2" checked="checked">
        <span>付款完成</span>
        <input type="checkbox" value="付款完成" name="order_status_1" checked="checked">
        <span>订单取消</span>
        <input type="checkbox" value="订单取消" name="order_status_2" checked="checked">
        <span>确认费用</span>
        <input type="checkbox" value="确认费用" name="order_status_3" checked="checked">

        <input type="submit" value="检索">
<!--                <a href="#upload-data-div" uk-toggle class="btn">上传文件</a>-->
    </form>

    <!--    <form action="/upload_data" method="post" enctype="multipart/form-data">-->
    <!--        <div class="uk-margin" uk-margin>-->
    <!--            <div uk-form-custom="target: true">-->
    <!--                <input type="file" name="file">-->
    <!--                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>-->
    <!--            </div>-->
    <!--            <button class="uk-button uk-button-default">Submit</button>-->
    <!--        </div>-->
    <!--    </form>-->


</div>

<script type="text/javascript">
    $.datetimepicker.setLocale('zh');
    $('#start_time').datetimepicker();
    $('#end_time').datetimepicker();

    $(function () {
        $("#uploadFileButton").on("click", function () {
            var formdata = new FormData();  // 通过使用FormDataa来生成表单对象提交，从而可以使用流的形式
            formdata.append("file", $("#uploadFileInput")[0].files[0]);  // 使用append方法将文件对象添加到formdata
            $.ajax({
                type: "post",  // 使用post方法上传文件
                url: "/upload_data",  // 后台请求地址
                data: formdata,  // 上传数据
                contentType: false,  // post中contentType默认的值为：application/x-www-form-urlencoded
                processData: false,  // processData默认的值为true，会转变数据格式，上传不需要转，所以设置为false
                success: function (data) {
                    alert(data.info);
                },
                error: function () {
                    alert("error");
                }
            })
        });

        $("#get_addr").on("click", function () {
            $("#get_addr").attr("disabled", true);
            $.ajax({
                type: "get",
                url: "/get_lng_lat",
                success: function () {

                    alert("订单的经纬度信息补充完毕");
                    $("#get_addr").removeAttr("disabled");
                },
                error: function () {

                    alert("订单的经纬度信息补充失败");
                    $("#get_addr").removeAttr("disabled");
                }
            })
        })
    });

</script>

<!--<div id="upload-data-div" uk-modal>-->
<!--    <div class="uk-modal-dialog uk-modal-body">-->
<!--        <div class="js-upload uk-placeholder uk-text-center" >-->
<!--            <form action="/upload_data" method="post" enctype="multipart/form-data">-->
<!--                <span uk-icon="icon: cloud-upload"></span>-->
<!--                <span class="uk-text-middle">拖拽文件到这里或者</span>-->
<!--                <div uk-form-custom>-->
<!--                    <input type="file" name="file">-->
<!--                    <span class="uk-link">选择文件</span>-->
<!--                </div>-->
<!--                <input type="submit" value="提交" class="btn">-->
<!--            </form>-->
<!--            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<script>-->
<!--    var bar = document.getElementById('js-progressbar');-->
<!--    UIkit.upload('.js-upload', {-->
<!--        url: '',-->
<!--        multiple: true,-->

<!--        beforeSend: function () {-->
<!--            console.log('beforeSend', arguments);-->
<!--        },-->
<!--        beforeAll: function () {-->
<!--            console.log('beforeAll', arguments);-->
<!--        },-->
<!--        load: function () {-->
<!--            console.log('load', arguments);-->
<!--        },-->
<!--        error: function () {-->
<!--            console.log('error', arguments);-->
<!--        },-->
<!--        complete: function () {-->
<!--            console.log('complete', arguments);-->
<!--        },-->

<!--        loadStart: function (e) {-->
<!--            console.log('loadStart', arguments);-->

<!--            bar.removeAttribute('hidden');-->
<!--            bar.max = e.total;-->
<!--            bar.value = e.loaded;-->
<!--        },-->

<!--        progress: function (e) {-->
<!--            console.log('progress', arguments);-->

<!--            bar.max = e.total;-->
<!--            bar.value = e.loaded;-->
<!--        },-->

<!--        loadEnd: function (e) {-->
<!--            console.log('loadEnd', arguments);-->

<!--            bar.max = e.total;-->
<!--            bar.value = e.loaded;-->
<!--        },-->

<!--        completeAll: function () {-->
<!--            console.log('completeAll', arguments);-->
<!--            setTimeout(function () {-->
<!--                bar.setAttribute('hidden', 'hidden');-->
<!--            }, 1000);-->

<!--            console.log('Upload Completed');-->
<!--        }-->
<!--    });-->
<!--</script>-->

<div id="container" class="map" tabindex="0"></div>

<div class="input-card">
    <div class="input-item">
        <input type="button" class="btn" value="起点" id="origin_button" onclick='changeDisplayStatus(0)'/>
        <input type="button" class="btn" value="终点" id="destination_button" onclick='changeDisplayStatus(1)'/>
    </div>
</div>

<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode: '2481220a69ee4cb0df115728d1405aab',
    }
</script>
<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=2.0&key=10367ae7a183556771cd8ed6d98e5334&plugin=AMap.Adaptor"></script>
<script
        src="https://webapi.amap.com/maps?v=2.0&key=10367ae7a183556771cd8ed6d98e5334&plugin=AMap.Scale,AMap.ToolBar"></script>
<script src="https://webapi.amap.com/loca?v=2.0.0&key=10367ae7a183556771cd8ed6d98e5334"></script>
<script type="text/javascript">
    var map = new AMap.Map('container', {
        zoom: 11,
        center: [104.065861, 30.657401],  // 102.342785, 35.312316
        showIndoorMap: false,
        viewMode: '3D',
    });

    var clickHandler = function (e) {
        console.log('您在[ ' + e.lnglat.getLng() + ',' + e.lnglat.getLat() + ' ]的位置点击了地图！');
    };

    // 绑定事件
    map.on('click', clickHandler);

    var citys_origin = {{ citys_origin | safe }};
    var mass = new AMap.MassMarks(citys_origin, {
        opacity: 0.8,
        zIndex: 111,
        cursor: 'pointer',
        style: {
            url: 'https://webapi.amap.com/images/mass/mass0.png',
            anchor: new AMap.Pixel(6, 6),
            size: new AMap.Size(11, 11)
        }
    });

    var citys_destination = {{ citys_destination | safe }};
    var destinationMass = new AMap.MassMarks(citys_destination, {
        opacity: 0.8,
        zIndex: 111,
        cursor: 'pointer',
        style: {
            url: 'http://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
            anchor: new AMap.Pixel(4, 4),  // 图标显示位置偏移量，基准点为图标左上角
            size: new AMap.Size(11, 11)
        }
    });

    var marker = new AMap.Marker({content: ' ', map: map});

    // mass.on('mouseover', function (e) {
    //     marker.setPosition(e.data.lnglat);
    //     marker.setLabel({content: e.data.name});
    // });

    mass.on("click", function (e) {
        //构建信息窗体中显示的内容
        var info = [];
        info.push("<div style=\"padding:0px 0px 0px 4px;\"><b>订单详情</b>");
        info.push("订单编号：" + e.data.utility_type_order_number);
        info.push("渠道名称：" + e.data.channel_name);
        info.push("出发地：" + e.data.origin);
        info.push("目的地：" + e.data.destination);
        info.push("订单状态：" + e.data.order_status);
        info.push("下单时间：" + e.data.order_time);
        info.push("订单类型：" + e.data.order_type);
        info.push("下单类型：" + e.data.order_way);
        info.push("服务类型：" + e.data.service_type);
        infoWindow = new AMap.InfoWindow({
            content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
        });
        infoWindow.open(map, e.data.lnglat);
    });

    destinationMass.on("click", function (e) {
        var info = [];
        info.push("<div style=\"padding:0px 0px 0px 4px;\"><b>订单详情</b>");
        info.push("订单编号：" + e.data.utility_type_order_number);
        info.push("渠道名称：" + e.data.channel_name);
        info.push("出发地：" + e.data.origin);
        info.push("目的地：" + e.data.destination);
        info.push("订单状态：" + e.data.order_status);
        info.push("下单时间：" + e.data.order_time);
        info.push("订单类型：" + e.data.order_type);
        info.push("下单类型：" + e.data.order_way);
        info.push("服务类型：" + e.data.service_type);
        infoWindow = new AMap.InfoWindow({
            content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
        });
        infoWindow.open(map, e.data.lnglat);
    });

    destinationMass.setMap(map);  // 先添加终点图层，再添加起点图层，起点覆盖在终点之上，因为用户更关注起点
    mass.setMap(map);

    var massStatus = 1;
    var destinationMassStatus = 1;

    function changeDisplayStatus(massType) {
        // mass.setStyle(style[styleType]);
        if (massType == 0) {
            if (massStatus == 0) {
                mass.show();
                massStatus = 1;
                document.getElementById("origin_button").style.color = "#ffffff";
                document.getElementById("origin_button").style.backgroundColor = "#25A5F7";
            } else {
                mass.hide();
                massStatus = 0;
                document.getElementById("origin_button").style.color = "#25A5F7";
                document.getElementById("origin_button").style.backgroundColor = "#ffffff";
            }
        } else {
            if (destinationMassStatus == 0) {
                destinationMass.show();
                destinationMassStatus = 1;
                document.getElementById("destination_button").style.color = "#ffffff";
                document.getElementById("destination_button").style.backgroundColor = "#25A5F7";
            } else {
                destinationMass.hide();
                destinationMassStatus = 0;
                document.getElementById("destination_button").style.color = "#25A5F7";
                document.getElementById("destination_button").style.backgroundColor = "#ffffff";
            }
        }
    }
</script>

<div class="uk-card">
    <input type="file" id="uploadFileInput">
    <button id="uploadFileButton">提交</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button id="get_addr">补全订单的经纬度信息</button>
</div>
</body>
</html>